[submodule "md2pdfLib/third_party/awesome-beamer"]
	path = md2pdfLib/third_party/awesome-beamer
	url = https://github.com/Kataglyphis/awesome-beamer
[submodule "md2pdfLib/third_party/smile"]
	path = md2pdfLib/third_party/smile
	url = https://github.com/Kataglyphis/smile
